<div class="work-info-container">
  <div class="emp-details-container">
    <h3>Employment Details:</h3>
    <table>
      <thead>
        <th>Organization</th>
        <th>Designation</th>
        <th>Start Date</th>
        <th>End Date</th>
      </thead>
      <tbody>
        <tr>
          <td>Intellect Design Arena Pvt Ltd</td>
          <td>Consultant</td>
          <td>26-SEP-16</td>
          <td>Till Date</td>
        </tr>
        <tr>
          <td>Cognizant Technology Solutions Pvt Ltd</td>
          <td>Technology – Lead</td>
          <td>21-JAN-15</td>
          <td>23-SEP-16</td>
        </tr>
        <tr>
          <td>PHOTON Interactive Pvt Ltd</td>
          <td>UI Developer</td>
          <td>07-OCT-13</td>
          <td>09-JAN-15</td>
        </tr>
        <tr>
          <td>Allied Biztech Solutions Pvt Ltd</td>
          <td>Web Developer</td>
          <td>09-MAY-11</td>
          <td>21-SEP-13</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>