<div class="personal-info-container">
	<h1>SIVANRAJ G</h1>
	<div class="address-container">
		<span>#4A / 48, Pillayar Kovil Street,</span>
		<span>Adambakkam,</span>
		<span>Chennai (dist.),</span>
		<span>Tamilnadu – 600088.</span>
	</div>
	<div class="contact-me-container">
		<div class="email-container">
			<span>Email:  g.sivanraj@gmail.com</span>
			<span>g.sivanraj@ymail.com</span>
		</div>
		<div class="mobile-container">
			<span>Mobile	:  +91 8939297291</span>
			<span>DOB	 	:  21-12-1989</span>
		</div>		
	</div>
	<div class="description-container">
		<h3>Profile:</h3>
		<p>6+ years of IT-related employment as a software developer, played a key role in carrying out analysis; finding gaps in process as well as devising a road map for enhancing various applications. An effective communicator with strong analytical, problem solving & organizational abilities looking for challenging opportunities.</p>
	</div>
	
	<div class="objective-container">
		<h3>Career Objective:</h3>
		<p>Seeking for a challenging and rewarding post in a dynamic company where I can use my technical knowledge and skills for organization growth and improve my skills.</p>
	</div>
</div>