<div class="skills-info-container">
  <h3>Skills Summary:</h3>
  <ul>
    <li>6+ years of Experience in Web Developer in IT industry.</li>
    <li>Have experience in JIRA & Agile Methodology.</li>
    <li>Have experience in CRM and SFA Web Application.</li>
    <li>Have experience in the JQueryMobile Application.</li>
    <li>Have experience in Vau JS, Angular JS, handlebar JS and JQuery.</li>
    <li>Have experience in Object Oriented JS.</li>
    <li>Expertise in Zend Framework and comfortable in MYSQL.</li>
    <li>Have experience in Responsive Design with Bootstrap.</li>
    <li>Tools used Eclipse, PHP Storm, SourceTree, SVN & GIT.</li>
    <li>Have experience in Git, Node JS, Grunt, Yeomen and Bower.</li>
    <li>Have experience in build process and Continues Integration (CI) tools like Jenkins, Bamboo.</li>
  </ul>
</div>