
<div class="profile-wrapper">
	<h1>SIVANRAJ G</h1>
	<div class="address-container">
		<span>#4A / 48, Pillayar Kovil Street,</span>
		<span>Adambakkam,</span>
		<span>Chennai (dist.),</span>
		<span>Tamilnadu – 600088.</span>
	</div>
	<div class="contact-me-container">
		<div class="email-container">
			<span>Email:  g.sivanraj@gmail.com</span>
			<span>g.sivanraj@ymail.com</span>
		</div>
		<div class="mobile-container">
			<span>Mobile	:  +91 8939297291</span>
			<span>DOB	 	:  21-12-1989</span>
		</div>		
	</div>
	<router-outlet></router-outlet>
</div>