<div class="project-info-container">
  <h3>Project Profile:</h3>
  <table>
    <thead>
      <th colspan="2">
        <span></span>
        Project No #1
      </th>
    </thead>
    <tbody>
      <tr>
        <td>Project Title</td>
        <td>: MigrosBank Application</td>
      </tr>
      <tr>
        <td>Duration</td>
        <td>: Sep 2016 – Till Date.</td>
      </tr>
      <tr>
        <td>Technologies</td>
        <td>: Bootstrap, JQuery, JAVA Spring, thymeleaf, Vue Js, NodeJs, Finnova</td>
      </tr>
      <tr>
        <td>Role</td>
        <td>: Development.</td>
      </tr>
      <tr>
        <td>Team Size</td>
        <td>: 23.</td>
      </tr>
      <tr>
        <td>Client</td>
        <td>: Migros Bank.</td>
      </tr>
      <tr>
        <td colspan="2">Project Description:</td>
      </tr>
      <tr>
        <td colspan="2">
          <p>Migros Bank application mainly consists of banking operation which they are providing it in user friendly manner</p>
          <p>Main modules are,</p>
          <p>Mortgage – Insurance application</p>
          <p>AdvisorStation – Loan application</p>
          <p>KundanPortal – Customer profile</p>
          <p>CustomerOnboarding – New customer creation</p>
          <p>Rating – Portfolio for the customer</p>
        </td>
      </tr>
      <tr>
        <td colspan="2">Site to lookup:</td>
      </tr>
      <tr>
        <td colspan="2">
          <p>
            <a href="https://www.migrosbank.ch">https://www.migrosbank.ch</a>
          </p>
        </td>
      </tr>
      <tr>
        <td colspan="2">Roles and Responsibilities:</td>
      </tr>
      <tr>
        <td colspan="2">
          <ul>
            <li>Worked on mortgage, advisor station, rating & customer on-boarding modules.</li>
            <li>Responsive Design.</li>
            <li>Internationalization.</li>
            <li>Build Processes & Code Review through gerrit.</li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
  <table>
    <thead>
      <th colspan="2">
        <span></span>
        Project No #2
      </th>
    </thead>
    <tbody>
      <tr>
        <td>Project Title</td>
        <td>: Active Learn Digital Services</td>
      </tr>
      <tr>
        <td>Duration</td>
        <td>: Oct 2015 – Sep 2016.</td>
      </tr>
      <tr>
        <td>Technologies</td>
        <td>: Bootstrap, JQuery, Zend Framework, Angular JS, Vagrant</td>
      </tr>
      <tr>
        <td>Role</td>
        <td>: Development.</td>
      </tr>
      <tr>
        <td>Team Size</td>
        <td>: 3.</td>
      </tr>
      <tr>
        <td>Client</td>
        <td>: Pearson Inc.</td>
      </tr>
      <tr>
        <td colspan="2">Project Description:</td>
      </tr>
      <tr>
        <td colspan="2">
          <p>Powerful teaching tools, simply delivered</p>
          <p>Access front-of-class teaching resources such as eBooks, videos, animations and presentations created by Pearson.</p>
          <p>Use these alongside your favourite resources from across the internet and curate them into powerful lesson Playlists.</p>
          <p>Customise and share lesson plans with your colleagues (Teacher).</p>
          <p>Quickly share worksheets, videos and presentations with students in your classroom.</p>
        </td>
      </tr>
      <tr>
        <td colspan="2">Site to lookup:</td>
      </tr>
      <tr>
        <td colspan="2">
          <p>
            <a href="https://activeteachonline.com">https://activeteachonline.com</a>
          </p>
        </td>
      </tr>
      <tr>
        <td colspan="2">Roles and Responsibilities:</td>
      </tr>
      <tr>
        <td colspan="2">
          <ul>
            <li>Worked on planner, course section modules.</li>
            <li>Responsive Design.</li>
            <li>Security Issues.</li>
            <li>Build Processes.</li>
            <li>Presented Demo to the Client.</li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
  <table>
    <thead>
      <th colspan="2">
        <span></span>
        Project No #3
      </th>
    </thead>
    <tbody>
      <tr>
        <td>Project Title</td>
        <td>: Walt Disney World Applications</td>
      </tr>
      <tr>
        <td>Duration</td>
        <td>: Apr 2015 – Sep 2015.</td>
      </tr>
      <tr>
        <td>Technologies</td>
        <td>: Bootstrap, JQuery, Google-API, Zend Framework, Angular JS</td>
      </tr>
      <tr>
        <td>Role</td>
        <td>: Development.</td>
      </tr>
      <tr>
        <td>Team Size</td>
        <td>: 4.</td>
      </tr>
      <tr>
        <td>Client</td>
        <td>: Disney Inc.</td>
      </tr>
      <tr>
        <td colspan="2">Project Description:</td>
      </tr>
      <tr>
        <td colspan="2">
          <p>Our Team worked on varies sites of Disney Inc., Particularly “Finder” module, which has the features of sub modules like list, Details & map thumbnails. We
            supported some other modules like calendar & maps.</p>
        </td>
      </tr>
      <tr>
        <td colspan="2">Site to lookup:</td>
      </tr>
      <tr>
        <td colspan="2">
          <p>
            <a href="www.disneyworld.disney.go.com">www.disneyworld.disney.go.com</a>
          </p>
          <p>
            <a href="www.disneyland.disney.go.com">www.disneyland.disney.go.com</a>
          </p>
          <p>
            <a href="www.disneylandparis.ie">www.disneylandparis.ie</a>
          </p>
          <p>
            <a href="www.hongkongdisneyland.com">www.hongkongdisneyland.com</a>
          </p>
          <p>
            <a href="www.shanghaidisneyresort.com.cn/en/">www.shanghaidisneyresort.com.cn/en/</a>
          </p>
        </td>
      </tr>
      <tr>
        <td colspan="2">Roles and Responsibilities:</td>
      </tr>
      <tr>
        <td colspan="2">
          <ul>
            <li>Worked on finder facets, Map info bubble template and Map info bubble JS.</li>
            <li>Responsive Design.</li>
            <li>Presented Demo to the Client.</li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
  <table>
    <thead>
      <th colspan="2">
        <span></span>
        Project No #4
      </th>
    </thead>
    <tbody>
      <tr>
        <td>Project Title</td>
        <td>: Merck Consumer Care Appliucations</td>
      </tr>
      <tr>
        <td>Duration</td>
        <td>: Oct 2013 – Jan 2015.</td>
      </tr>
      <tr>
        <td>Technologies</td>
        <td>: SDL-Tridion, Bootstrap, jquery, Google-API, Twitter-API, Facebook- API, Handlebar js.</td>
      </tr>
      <tr>
        <td>Role</td>
        <td>: Development.</td>
      </tr>
      <tr>
        <td>Team Size</td>
        <td>: 10.</td>
      </tr>
      <tr>
        <td>Client</td>
        <td>: Merck & Co.</td>
      </tr>
      <tr>
        <td colspan="2">Project Description:</td>
      </tr>
      <tr>
        <td colspan="2">
          <p>Here the sites which will describe about their Product and its usages, these sites will compatible with Desktop All Browser; I pad 3, IPhone, Samsung S3 and Nokia
            Lumia.</p>
        </td>
      </tr>
      <tr>
        <td colspan="2">Site to lookup:</td>
      </tr>
      <tr>
        <td colspan="2">
          <p>
            <a href="www.vivalax.com.au">www.vivalax.com.au</a>
          </p>
          <p>
            <a href="www.diprobase.co.uk">www.diprobase.co.uk</a>
          </p>
          <p>
            <a href="www.drscholls.com">www.drscholls.com</a>
          </p>
          <p>
            <a href="www.drschollsespanol.com">www.drschollsespanol.com</a>
          </p>
          <p>
            <a href="www.claritin.com">www.claritin.com</a>
          </p>
          <p>
            <a href="www.claritinespanol.com">www.claritinespanol.com</a>
          </p>
          <p>
            <a href="www.claritin.com.ru">www.claritin.com.ru</a>
          </p>
          <p>
            <a href="www.clarityne.com.hk">www.clarityne.com.hk</a>
          </p>
          <p>
            <a href="www.claritynallergy.co.uk">www.claritynallergy.co.uk</a>
          </p>
          <p>
            <a href="www.activefamilyproject.com">www.activefamilyproject.com</a>
          </p>
          <p>
            <a href="www.coppertone.com.mx">www.coppertone.com.mx</a>
          </p>
          <p>
            <a href="www.coppertone.com">www.coppertone.com</a>
          </p>
          <p>
            <a href="www.nasonexallergy.com.au">www.nasonexallergy.com.au</a>
          </p>
        </td>
      </tr>
      <tr>
        <td colspan="2">Roles and Responsibilities:</td>
      </tr>
      <tr>
        <td colspan="2">
          <ul>
            <li>Carousel API, Facebook API, YouTube API, Twitter API, Accordion API, Google API Integration.</li>
            <li>Responsive Design.</li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
  <table>
    <thead>
      <th colspan="2">
        <span></span>
        Project No #5
      </th>
    </thead>
    <tbody>
      <tr>
        <td>Project Title</td>
        <td>: Mobile Application for Medismo-SFA</td>
      </tr>
      <tr>
        <td>Duration</td>
        <td>: July 2013 – Sep 2013.</td>
      </tr>
      <tr>
        <td>Technologies</td>
        <td>: PHP5.3, JQueryUI, JQueryMobile & MySQL5.1.</td>
      </tr>
      <tr>
        <td>Role</td>
        <td>: Development, Integration &Testing.</td>
      </tr>
      <tr>
        <td>Team Size</td>
        <td>: 1.</td>
      </tr>
      <tr>
        <td>Client</td>
        <td>: DBL Pharmacy Pvt Ltd.</td>
      </tr>
      <tr>
        <td colspan="2">Project Description:</td>
      </tr>
      <tr>
        <td colspan="2">
          <p>Medismo mobile-SFA is a Mobile enabled field sales force automation solution which can keep track of doctor visit reports, tour plans and approvals, booking sales
            orders, Primary Secondary and tertiary sales , expense details, stockist inventory etc. All this with the built in CRM features that helps the pharma companies to
            retain its existing customers by building and maintaining successful relationships.</p>
        </td>
      </tr>
      <tr>
        <td colspan="2">Roles and Responsibilities:</td>
      </tr>
      <tr>
        <td colspan="2">
          <ul>
            <li>Responsive Design.</li>
            <li>Design & Development of enhancements/modifications.</li>
            <li>Technical specification, setup and process documents preparation.</li>
            <li>Involved in unit & Integration Testing.</li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
  <table>
    <thead>
      <th colspan="2">
        <span></span>
        Project No #6
      </th>
    </thead>
    <tbody>
      <tr>
        <td>Project Title</td>
        <td>: Mobile Application for Medismo-CRM</td>
      </tr>
      <tr>
        <td>Duration</td>
        <td>: Jan 2013 - July 2013.</td>
      </tr>
      <tr>
        <td>Technologies</td>
        <td>: PHP5.3, JQueryUI, JQueryMobile & MySQL5.1.</td>
      </tr>
      <tr>
        <td>Role</td>
        <td>: Development, DBA , Integration &Testing.</td>
      </tr>
      <tr>
        <td>Team Size</td>
        <td>: 1.</td>
      </tr>
      <tr>
        <td>Client</td>
        <td>: Chettinad Pharmacy Pvt Ltd.</td>
      </tr>
      <tr>
        <td colspan="2">Project Description:</td>
      </tr>
      <tr>
        <td colspan="2">
          <p>Medismo Mobile CRM is tailor-made to serve the specific Pharma Industry needs and help the Medical Reps.</p>
          <p>Access to live field data helps in making prudent decisions. The best part is that, the App could work offline even if they are out of coverage area.</p>
          <p>Reps are making use of the App by accessing information from past interactions with the doctor while waiting to meet him/her.</p>
          <p>This saves 1/3rd of time when a New Rep wants to build relationship with a Doctor, here we can get info of someone left the job and the details of customer history
            & activity details.</p>
        </td>
      </tr>
      <tr>
        <td colspan="2">Roles and Responsibilities:</td>
      </tr>
      <tr>
        <td colspan="2">
          <ul>
            <li>Responsive Design.</li>
            <li>Design & Development of enhancements/modifications.</li>
            <li>Technical specification, setup and process documents preparation.</li>
            <li>Involved in unit & Integration Testing.</li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
  <table>
    <thead>
      <th colspan="2">
        <span></span>
        Project No #7
      </th>
    </thead>
    <tbody>
      <tr>
        <td>Project Title</td>
        <td>: Medismo-CRM</td>
      </tr>
      <tr>
        <td>Duration</td>
        <td>: Jan 2012 - July 2013.</td>
      </tr>
      <tr>
        <td>Technologies</td>
        <td>: PHP5.3, JQuery & MySQL5.1.</td>
      </tr>
      <tr>
        <td>Role</td>
        <td>: Development, DBA, Integration & Testing.</td>
      </tr>
      <tr>
        <td>Team Size</td>
        <td>: 3.</td>
      </tr>
      <tr>
        <td>Client</td>
        <td>: Chettinad Pharmacy Pvt Ltd.</td>
      </tr>
      <tr>
        <td colspan="2">Project Description:</td>
      </tr>
      <tr>
        <td colspan="2">
          <p>Medismo's Pharma CRM provides easy and simple workflow for sales force effectiveness and administration. Medismo CRM helps sales-reps to build relationships with
            key contacts & follow-ups made with doctors, chemists, stockist, blood banks, distributors and hospitals.</p>
        </td>
      </tr>
      <tr>
        <td colspan="2">Roles and Responsibilities:</td>
      </tr>
      <tr>
        <td colspan="2">
          <ul>
            <li>Responsive Design.</li>
            <li>Design & Development of enhancements/modifications.</li>
            <li>Technical specification, setup and process documents preparation.</li>
            <li>Involved in unit & Integration Testing.</li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
  <table>
    <thead>
      <th colspan="2">
        <span></span>
        Project No #8
      </th>
    </thead>
    <tbody>
      <tr>
        <td>Project Title</td>
        <td>: Accounting Software</td>
      </tr>
      <tr>
        <td>Duration</td>
        <td>: May 2011 - Jan 2012.</td>
      </tr>
      <tr>
        <td>Technologies</td>
        <td>: PHP5.3, JQuery & MySQL5.1.</td>
      </tr>
      <tr>
        <td>Role</td>
        <td>: Development & Integration.</td>
      </tr>
      <tr>
        <td>Team Size</td>
        <td>: 3.</td>
      </tr>
      <tr>
        <td>Client</td>
        <td>: El-Bio Logistical Pvt Ltd.</td>
      </tr>
      <tr>
        <td colspan="2">Project Description:</td>
      </tr>
      <tr>
        <td colspan="2">
          <p>Accounting Software is used to take-down the process of stock flow through the Organization, which means that Sales & Purchase of the stock by stockist and
            Chemist. Stock Details are maintained by stock register, here we can know the current stock, purchased stock and sold out stock respectively with the customer.</p>
        </td>
      </tr>
      <tr>
        <td colspan="2">Roles and Responsibilities:</td>
      </tr>
      <tr>
        <td colspan="2">
          <ul>
            <li>Ledger, Invoice, Stock Register Modules.</li>
            <li>Technical specification, setup and process documents preparation.</li>
            <li>Involved in unit & Integration Testing.</li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</div>